In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../media/group_6.csv')

In [4]:
df

,Date,F0098 Body Mass,F0098 Weight Lifted,F0099 Body Mass,F0099 Weight Lifted,F0100 Body Mass,F0100 Weight Lifted
0,05/01/24,0,5,0,5,0,5
1,05/02/24,5,10,5,10,5,10

In [7]:
columns = df.columns
columns = columns[1:]

In [9]:
columns

Index(['F0098 Body Mass', 'F0098 Weight Lifted', 'F0099 Body Mass',
       'F0099 Weight Lifted', 'F0100 Body Mass', 'F0100 Weight Lifted'],
      dtype='object')

In [11]:
df.set_index('Date').to_dict()

{'F0098 Body Mass': {'05/01/24': 0, '05/02/24': 5},
 'F0098 Weight Lifted': {'05/01/24': 5, '05/02/24': 10},
 'F0099 Body Mass': {'05/01/24': 0, '05/02/24': 5},
 'F0099 Weight Lifted': {'05/01/24': 5, '05/02/24': 10},
 'F0100 Body Mass': {'05/01/24': 0, '05/02/24': 5},
 'F0100 Weight Lifted': {'05/01/24': 5, '05/02/24': 10}}

In [5]:
dates_data = {
            '05/01/24': {
                'F0098': {'body_mass': '0', 'weight_lifted': '5'},
                'F0099': {'body_mass': '0', 'weight_lifted': '5'},
                'F0100': {'body_mass': '0', 'weight_lifted': '5'},
            },
            '05/02/24': {
                'F0098': {'body_mass': '5', 'weight_lifted': '10'},
                'F0099': {'body_mass': '5', 'weight_lifted': '10'},
                'F0100': {'body_mass': '5', 'weight_lifted': '10'},
            },
        }

In [7]:
pd.DataFrame(dates_data).index

Index(['F0098', 'F0099', 'F0100'], dtype='object')